:root {
  --main-color: #4d4e53;
  --font-family: 'Helvetica Neue', 'Arial', sans;
}

.app {
  color: var(--main-color, red);
  font-family: var(--font-family, Arial);
  font-size: 1.75em;
  font-weight: 100;
  transform: rotateX(20deg);
}
